#!/bin/bash
set -e # fail on errors

# Redirect stderr -> stdout
exec 2>&1

<%= render("mount_point_check.erb") %>

cd <%= node['gitlab']['gitlab-pages']['dir'] %>

<% external_http = [ node['gitlab']['gitlab-pages']['external_http'] ].flatten.compact  %>
<% external_https = [ node['gitlab']['gitlab-pages']['external_https'] ].flatten.compact  %>

exec /usr/bin/env SSL_CERT_FILE=/opt/gitlab/embedded/ssl/certs/cacert.pem \
    <% if node['gitlab']['gitlab-pages']['http_proxy'] %>
    http_proxy="<%= node['gitlab']['gitlab-pages']['http_proxy'] %>" \
    <% end %>
    /opt/gitlab/embedded/bin/gitlab-pages \
    <% if node['gitlab']['gitlab-pages']['listen_proxy'] %>
    -listen-proxy="<%= node['gitlab']['gitlab-pages']['listen_proxy'] %>" \
    <% end %>
    <% external_http.each do |spec| %>
    -listen-http="<%= spec %>" \
    <% end %>
    <% external_https.each do |spec| %>
    -listen-https="<%= spec %>" \
    <% end %>
    <% unless external_https.empty? %>
    -root-cert="<%= node['gitlab']['gitlab-pages']['cert'] %>" \
    -root-key="<%= node['gitlab']['gitlab-pages']['cert_key'] %>" \
    <% end %>
    <% if node['gitlab']['gitlab-pages']['metrics_address'] %>
    -metrics-address="<%= node['gitlab']['gitlab-pages']['metrics_address'] %>" \
    <% end %>
    -daemon-uid="$(id -u "<%= node['gitlab']['user']['username'] %>")" \
    -daemon-gid="$(id -g "<%= node['gitlab']['user']['username'] %>")" \
    -daemon-inplace-chroot=<%= node['gitlab']['gitlab-pages']['inplace_chroot'] %> \
    \
    -pages-domain="<%= node['gitlab']['gitlab-pages']['domain'] %>" \
    -pages-root="<%= node['gitlab']['gitlab-pages']['pages_root'] %>" \
    <% if node['gitlab']['gitlab-pages']['status_uri'] %>
    -pages-status="<%= node['gitlab']['gitlab-pages']['status_uri'] %>" \
    <% end %>
    <% if node['gitlab']['gitlab-pages']['max_connections'] %>
    -max-conns=<%= node['gitlab']['gitlab-pages']['max_connections'] %> \
    <% end %>
    <% if node['gitlab']['gitlab-pages']['log_format'] %>
    -log-format="<%= node['gitlab']['gitlab-pages']['log_format'] %>" \
    <% end %>
    <% if node['gitlab']['gitlab-pages']['log_verbose'] %>
    -log-verbose \
    <% end %>
    \
    -redirect-http=<%= node['gitlab']['gitlab-pages']['redirect_http'] %> \
    -use-http2=<%= node['gitlab']['gitlab-pages']['use_http2'] %> \
    \
    <% if node['gitlab']['gitlab-pages']['artifacts_server'] %>
    -artifacts-server="<%= node['gitlab']['gitlab-pages']['artifacts_server_url'] %>" \
    <% if node['gitlab']['gitlab-pages']['artifacts_server_timeout'] %>
    -artifacts-server-timeout=<%= node['gitlab']['gitlab-pages']['artifacts_server_timeout'] %> \
    <% end %>
    <% end %>
    \
    <% if node['gitlab']['gitlab-pages']['access_control'] %>
    -auth-client-id=<%= node['gitlab']['gitlab-pages']['gitlab_id'] %> \
    -auth-client-secret=<%= node['gitlab']['gitlab-pages']['gitlab_secret'] %> \
    -auth-redirect-uri="<%= node['gitlab']['gitlab-pages']['auth_redirect_uri'] %>" \
    -auth-server="<%= node['gitlab']['gitlab-pages']['auth_server'] %>" \
    -auth-secret=<%= node['gitlab']['gitlab-pages']['auth_secret'] %> \
    <% end %>
    \
    <% if node['gitlab']['gitlab-pages']['admin_https_cert'] %>
    -admin-https-cert="<%= node['gitlab']['gitlab-pages']['admin_https_cert'] %>" \
    <% end %>
    <% if node['gitlab']['gitlab-pages']['admin_https_key'] %>
    -admin-https-key="<%= node['gitlab']['gitlab-pages']['admin_https_key'] %>" \
    <% end %>
    <% if node['gitlab']['gitlab-pages']['admin_https_listener'] %>
    -admin-https-listener="<%= node['gitlab']['gitlab-pages']['admin_https_listener'] %>" \
    <% end %>
    -admin-secret-path="<%= node['gitlab']['gitlab-pages']['dir'] %>/admin.secret" \
    -admin-unix-listener="<%= node['gitlab']['gitlab-pages']['dir'] %>/admin.socket" \
    <% if node['gitlab']['gitlab-pages']['insecure_ciphers'] %>
    -insecure-ciphers \
    <% end %>
